<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

<connectionStrings>
  <add name="DBCS" connectionString="Data Source=LAPTOP-POMJSQ9S\SQLEXPRESS;Database=CSNDatabase; user id=sa; password=pooja@123;" />
</connectionStrings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576"  />
	<customErrors defaultRedirect="Error/DefaultError.htm" mode="Off" />	  
	<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <identity impersonate="false" />
  </system.web>

  <appSettings>
	  <add key="ExecutionTimeOut" value="60" />
	  <add key="SendEmail" value="true" />
  </appSettings>
	
  <system.codedom>
    <compilers>

    </compilers>
  </system.codedom>
<system.webServer>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1073741824" />
		</requestFiltering>
	</security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="Login/CSNLogin.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension="." mimeType="test/test" />
        </staticContent>
  </system.webServer>

<system.web.extensions>
	<scripting>
		<webServices>
			<jsonSerialization maxJsonLength="819200000" />
		</webServices>
	</scripting>
</system.web.extensions>
</configuration>